<h2>{{title}}</h2>

<aside>
<label>StockPre:</label>
{{input type="text" value=search placeholder="Search for a stock:" key-up=(action 'onFilterTextChange' ) }}


<table>
  {{#each filteredList as |stock|}}
	{{#link-to "graph"  stock.symbol tagName="tr" current-when="graph"}}
     <td>{{stock.name}}</td>
	{{/link-to}}
  {{/each}}
</table>
</aside>


<section class="main">
  {{outlet}}
</section>
